body {
    background-color : blue;
}

footer {
    width:60%;
    margin-right:auto;
    margin-left:auto;
    font-size:.8em;
    background: white;
    border:1px solid #696;
    margin-top : 30px;
    border-radius : 15px 15px 15px 15px;
}

footer > div {
    padding : 5px;
    padding-left : 15px;
    padding-right : 15px;
    text-align : center;
}

#menu
{
    z-index : 10;
    position : fixed;
    width : 100%;
    display : flex;
    justify-content: center;
    align-items: center;
}

#content-zone {
    min-height : 600px;
    width:60%;
    margin-left : auto;
    margin-right : auto;
    overflow : hidden;
    background-color : white;
    border-radius : 10px 10px 10px 10px;
}

#content
{
    padding : 15px;
}
