body {
    background-color : blue;
}

footer {
    width:60%;
    margin-right:auto;
    margin-left:auto;
    font-size:.8em;
    background: white;
    border:1px solid #696;
    margin-top : 30px;
    border-radius : 15px 15px 15px 15px;
}

footer > div {
    padding : 5px;
    padding-left : 15px;
    padding-right : 15px;
    text-align : center;
}

#menu-div
{
    width:80%;
    margin-left:10%;
    background: red;
    border-radius : 15px 15px 15px 15px;
    z-index : 10;
    position : fixed;
    top : 10px;
    text-align : center;
    height : 40px;
}

#hide-header {
    position : fixed;
    z-index : 5;
    background : blue;
    height : 80px;
    width : 100%;
    top : 0px;
    left : 0px;
}

.menu a {
    background-color : rgba(0,0,255,0.5)
    text-align : center;
    display : inline-block;
    text-decoration : none;
    color : black;
    width : 100%;
    height: 100%;
    padding-right : 10px;
    padding-left : 10px;
}

.menu li ul li a {
    text-align : left;
}

.menu {
    margin-top : 0px;
    padding : 0px;
}

.menu li {
    background-color : red;
    list-style-type: none;
    display : inline-block;
    font-size:20px;
    line-height:40px;
    vertical-align : text-top;
    margin : 0px;
    text-align : left;
}

.menu li ul li {
    display : block;
    position : relative;
}

.menu li:hover{
    background-color: yellow;
}

.menu li ul {
    display : none;
    position: absolute;
    padding : 0px;
    margin : 0px;
}

.menu li ul li:hover ul {
    display : inline-block;
}


.menu li:hover > ul {
    display : block;
}

#content-zone {
    margin-top : 80px;
    min-height : 600px;
    width:60%;
    margin-left : auto;
    margin-right : auto;
    background-color : white;
    border-radius : 10px 10px 10px 10px;
}

#content
{
    padding : 15px;
}
