<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="/xsl/menu.xsl"?>
<module>
	<menu>
		<item>
                        <fr dest="/autres/odfaeg/presentation"> Présentation </fr>
		</item>
		<item>
			<fr dest="/"> CV           </fr>
                </item>
                <item>
                        <fr dest="/autres/odfaeg"> Tutoriels    </fr>
                        <item>
                            <fr dest="/autres/odfaeg/tutos/install">Installation de ODFAEG</fr>
                        </item>
                        <item>
                            <fr dest="/autres/odfaeg/tutos/appli">Création d'une application ODFAEG</fr>
                        </item>
                </item>
                <item>
			<fr dest="/"> Contacts     </fr>
                </item>
                <item>
                	<content>
                	<fr dest="/">
                	<html>
                	<a href="http://odfaeg.yourboardpro.com/index.php">forum</a>
                	</html>
                	 </fr>
                	</content>
                </item>
	</menu>
</module>

