#titre_principal
{
    display: inline;
    zoom: 1;
}
#logo, header h1
{
    display: inline;
    zoom: 1;
}
nav
{
    display: inline;
    zoom: 1;
}
nav li 
{
    display: inline;
    zoom: 1;
}