<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="/xsl/menu.xsl"?>

<module>
    <menu>
        <item>
            <fr dest="/last-engine">Accueil</fr>
            <en dest="/last-engine">Home</en>
        </item>
        <item>
            <fr>Tutoriels</fr>
            <en>Tutorials</en>
        </item>
        <item>
            <fr>Contribuer</fr>
            <en>Contribute</en>
        </item>
    </menu>
</module>
